(levels: [
    (
        name: "Random",
        spawn_points: [],
        tiles: [
        ],
    ),
    (
        name: "Swiss Cheese",
        spawn_points: [(1, 1), (30, 30), (30, 1), (1, 30)],
        tiles: [
            [NonColorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable, NonColorable],
            [NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable],
            [Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable, Colorable, Colorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable],
            [Colorable, Colorable, Colorable, NonColorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable],
            [Colorable, Colorable, Colorable, NonColorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable],
            [Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable],
            [Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable],
            [Colorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable],
            [Colorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable],
            [Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable],
            [NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable],
            [Colorable, Colorable, Colorable, NonColorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable, NonColorable, Colorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable],
            [Colorable, Colorable, Colorable, NonColorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable, NonColorable, NonColorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable],
            [Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable, NonColorable, NonColorable, NonColorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable],
            [Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable, NonColorable, NonColorable, NonColorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable],
            [Colorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable, NonColorable, NonColorable, NonColorable, NonColorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable],
            [Colorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable, NonColorable, NonColorable, NonColorable, NonColorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable],
            [Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable, NonColorable, NonColorable, NonColorable, Colorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable],
            [Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable, NonColorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable],
            [Colorable, Colorable, Colorable, NonColorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable, NonColorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable],
            [Colorable, Colorable, Colorable, NonColorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable],
            [Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable],
            [NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable],
            [NonColorable, NonColorable, Colorable, Colorable, Colorable, NonColorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable],
            [NonColorable, NonColorable, Colorable, Colorable, Colorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable],
            [NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable],
            [Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable],
            [Colorable, Colorable, Colorable, NonColorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable],
            [Colorable, Colorable, Colorable, NonColorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable],
            [Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable],
            [NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable],
            [NonColorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable, Colorable, Colorable, Colorable, Colorable, NonColorable, NonColorable, NonColorable, NonColorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, Colorable, NonColorable, NonColorable],
        ],
    ),
], )